{{#if resume.work.length}}
<section id="work">
  <div class="left">
    <h2>Work</h2>
  </div>

  <div class="right">
    {{#each resume.work}}
    <div class="item">
      <div class="date">
        {{#if startDate}}
        <span class="startDate">
          {{startDate}}
        </span>
        {{/if}}
        {{#if endDate}}
        <span class="endDate">
          - {{endDate}}
        </span>
        {{else}}
        <span class="endDate">
          - Present
        </span>
        {{/if}}
      </div>
      {{#if company}}
      <h3 class="name">
        {{company}}
      </h3>
      {{/if}}
      {{#if position}}
      <h4 class="position">
        {{position}}
      </h4>
      {{/if}}
      {{#if website}}
      <div class="website">
        <a href="{{website}}">{{website}}</a>
      </div>
      {{/if}}
      {{#if summary}}
      <div class="summary">
        <p>{{summary}}</p>
      </div>
      {{/if}}
      {{#if highlights.length}}
      <ul class="highlights">
        {{#each highlights}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    {{/each}}
  </div>
</section>
{{/if}}
